<!-- // footer -->
<tr class="footer-not-create-account" style="text-align: center;">
  <td style="padding: 10px;color: #808080;" bgcolor="#f9f9f9">
    <p style="font-family: 'Avenir-Roman', sans-serif;
            font-size: 16px; ">© <%= currentYear %> MeasuredSkills.</p>
  </td>
</tr>