
            </td>
            </tr>
            <%- include('../template/_footerEmail.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user})%>
      </table>
    </td>
  </tr>
</table>
</body>

</html>