<tr class="employer-header" style="<%= accountType == ACCOUNT_TYPE_CONST.JobSeeker ? 'background: #2668a8' : '' %>">
  <td align="center" style="padding: 0px 10px;">
    <div style="width: 400px; height: 110px; background-image: url(<%=logoUrl%>); background-position: center; background-repeat: no-repeat; background-size: contain;">

    </div>
    <!-- <img src="" alt="logo" width="auto" style="width: 100%;" /> -->
  </td>
</tr>