<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
      <p><b>Hello {Name},</b></p>
      We are Measured Skills, one of the most highly trusted Recruiting platforms. 
      Your colleague has just invited you to join our platform as a delegate recruiter from 
      <b>{CompanyName}</b>. Below is your login information:
      <p>Account: {Email}</p>
      <p>Please click onto this link to verify your account: <a href="{Url}">Activate account</a>
      </p>
      <br /><br />
      <p>Measured Skills team, </p>
  </body>
</html>
