<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900"
    rel="stylesheet" />
  <title></title>
  <style type="text/css">
    * {
      font-family: Roboto;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body style="margin: 0; padding: 0; background-color: #f9f9f9;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#ffffff">
          <tr>
            <td style="padding: 0px 10px;">
              <img src="cid:uniq-logo.png" alt="logo" style="width: 100%; height: auto;" width="100%" />
            </td>
          </tr>
          <tr>
            <td style="padding: 0px 20px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="text-align: center">
                    <h2><b>Contact Us</b></h2>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px 0px;font-size: 12px;">
                    <h3>{first_name} {last_name}</h3>
                    <p>Email: {email}</p>
                    {phone}
                    <p>Type: {type}</p>
                    {institution}
                    <p>Message: {message}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>