<%- include('./_header.ejs',{ recipientEmail, accountType, ACCOUNT_TYPE_CONST, urlUnsubcribe, websiteUrl, currentYear,
  user }); -%>

  <div style="padding: 30px 10px;">
    <p style="font-family: 'Avenir-Roman', sans-serif;
  line-height: 27px;
  font-size: 18px;">
    <%= ownerTitle %>Please follow the link below to complete your password reset.
    </p>
  </div>
  <div style="text-align: center; padding-bottom: 30px;">
    <a href="<%= mainUrl %>" style="text-decoration: none;
  background: #2668a8;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;font-family: 'Avenir-Roman', sans-serif;
  line-height: 27px;">Reset Password</a>
  </div>
<%- include('./_footer.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user}); -%>