<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
      <p><b>Hello {FirstName} {LastName},</b></p>
      <p>We are Measured Skills, one of the most highly trusted Recruiting platforms. MeasuredSkills's super admin has just invited you to join the platform as an admin. Below is your login information:</p>
      <p>Account: {Email} </p>
      <p>Please click onto this link to verify your account: <a href="{Url}">Active account</a><br /><br /></p>
      <p>Measured Skills team.</p>
  </body>
</html>
