<%- include('./_header.ejs',{ recipientEmail, accountType, ACCOUNT_TYPE_CONST, urlUnsubcribe, websiteUrl, currentYear, user }); -%>
  <p style="font-family: 'Avenir-Roman', sans-serif; line-height: 27px; font-size: 18px; padding: 30px 5px;">
    Thank you for contacting MeasuredSkills. Your question and/or feedback is very important to us. Someone will
    respond shortly.
  </p>
<%- include('./_footer.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user}); -%>