
<%- include('./_header.ejs',{ recipientEmail, accountType, ACCOUNT_TYPE_CONST, urlUnsubcribe, websiteUrl, currentYear, user }); -%>
  <div style="padding: 30px 10px;">
    <p style="font-family: 'Avenir-Roman', sans-serif;
    line-height: 27px;
    font-size: 18px;">
      Your application to <strong><%= jobTitle %></strong> at <strong><%= companyName %></strong> has been successfully withdrawn. If you withdrew
      your application in error, please contact us immediately.
    </p>
  </div>
<%- include('./_footer.ejs', { recipientEmail, urlUnsubcribe, websiteUrl, currentYear, user}); -%>